/*
!.gitignore
!/bin
!/bin/*
!/src
!/src/*
!/include
!/include/*
!/lib
!/lib/*
!/forms
!/forms/*
!README.md
!lslsub_plotter.pro
!/script
!/script/*
!/docs
!/docs/*

/bin/WIN32/Window/*
!/bin/WIN32/Window/lslsub_plotter.exe
!/bin/WIN32/Window/liblsl64.dll
